<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Herbal Blends App</title>
  <link rel="shortcut icon" href="favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- style sheets-->
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/normalize.css">
  <!-- font awesome -->
  <script src="https://kit.fontawesome.com/8ea013bdc7.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cedarville+Cursive&family=Montserrat:wght@200;300&family=Roboto:wght@100;300&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light" fixed-top role="navigation">

      <!-- navbar brand / title -->
      <a class="navbar-brand" href="/">
        <img src="img/logo2.png" class="logo img-responsive" alt="logo that reads herbal blends">
      </a>

      <!-- toggle button for mobile nav -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
        aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse justify-content-end" id="main-nav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item"><a class="nav-link" href="/cart">Cart</a></li>
          <li class="nav-item"><a class="nav-link" href="/identify">Herb Identification</a></li>
          <li class="nav-item"><a class="nav-link" href="/login" class="btn btn-default">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/signup" class="btn btn-default">Signup</a></li>
        </ul>
      </div>
    </nav>
  </header>
 
  <form action="/cart" method="POST">

    <!-- base herbs -->
    <div class="row justify-content-center mt-3">
      <% for(var i=0; i<base.length; i++) {%>
        <div class="col-sm-3">
          <div class="card text-center" style="width: 18rem;height:25rem;">
            <label>
              <input type="radio" id="<%= base[i].name%>" name="base" value="<%= base[i].name%>">
              <img src="img/mugwort.png" class="base" alt="an image of dried herbs" width="200px">
            </label>
            <div class="card-body">
                <span class="herbName">
                  <a href="/plant?plantname=<%= base[i].alternateNames[0]%>">
                    <%= base[i].name %>
                  </a>
                </span>
                <span class="herbProp">
                  <%= base[i].medicinalProp %>
                </span>
                <span class="herbPos">
                  <%= base[i].component %>
                </span>
            </div>
          </div>
        </div>
        <% } %>
    </div>

    <!-- flavor herbs -->
    <div class="row justify-content-center mt-3">
      <% for(var i=0; i<flavor.length; i++) {%>
        <div class="col-sm-3">
          <div class="card text-center" style="width: 18rem;height:25rem;">
            <label>
              <input type="radio" id="<%= flavor[i].name%>" name="flavor" value="<%= flavor[i].name%>">
              <img src="img/mint.png" class="flavor" width="200px">
            </label>
            <div class="card-body"> 
                <span class="herbName card-text">
                  <a href="/plant?plantname=<%= flavor[i].alternateNames[0]%>" class="card-text">
                    <%= flavor[i].name %>
                  </a>
                </span>
                <span class="herbProp">
                  <%= flavor[i].medicinalProp %>
                </span>
                <span class="herbPos">
                  <%= flavor[i].component %>
                </span>
            </div>
          </div>
        </div>
        <% } %>
    </div>

    <!-- support -->
    <div class="row justify-content-center mt-3">
      <% for(var i=0; i<base.length; i++) {%>
        <div class="col-sm-3">
          <div class="card text-center" style="width: 18rem;height:25rem;">
            <label>
              <input type="radio" id="<%= support[i].name%>" name="support" value="<%= support[i].name%>">
              <img src="img/skullCap.jpg" class="support">
            </label>
            <div class="card-body">
                <span class="herbName">
                  <a href="/plant?plantname=<%= support[i].alternateNames %>">
                    <%= support[i].name %>
                  </a>
                </span>
                <span class="herbProp">
                  <%= support[i].medicinalProp %>
                </span>
                <span class="herbPos">
                  <%= support[i].component %>
                </span>
            </div>
          </div>
        </div>
        <% } %>
    </div>

    <section class="button">
      <button type="submit" class="submitOrder btn-sm" style="width: 18rem;">ENTER</button>
    </section>

  </form>


  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <section class="mb-4 d-flex justify-content-center">
        <!-- Facebook -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

        <!-- Twitter -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

        <!-- Google -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
          data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

      </section>
    </div>
  </footer>



  <script src="index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


</body>

</html>